stand/documentation/workshop&examples/Project-2_Source_Files/NR_Connext_Sine_MQTT_Influx_v2.json
[{"id":"764e22e4.19556c","type":"tab","label":"Connext_MQTT_SineWave","disabled":false,"info":""},{"id":"456e5d67.f3e6e4","type":"mqtt in","z":"764e22e4.19556c","name":"","topic":"#","qos":"2","datatype":"json","broker":"b4ad0587.7610d8","nl":false,"rap":true,"rh":0,"x":390,"y":220,"wires":[["e83057b6.383308","49ba3b0c.9157e4"]]},{"id":"e83057b6.383308","type":"debug","z":"764e22e4.19556c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"f95bdca8.11a5f","type":"ui_slider","z":"764e22e4.19556c","name":"","label":"slider","tooltip":"","group":"921e9639.b91f78","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"10","max":"100","step":1,"x":430,"y":540,"wires":[["6715c812.d59b38","7b32f015.72109"]]},{"id":"959ec31.5b8554","type":"ui_chart","z":"764e22e4.19556c","name":"","group":"921e9639.b91f78","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"0.001","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":120,"wires":[[]]},{"id":"b9c3bc93.ca245","type":"ui_chart","z":"764e22e4.19556c","name":"","group":"921e9639.b91f78","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":340,"wires":[[]]},{"id":"dd3f94db.6df898","type":"template","z":"764e22e4.19556c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Sweep_Time}}","output":"str","x":820,"y":120,"wires":[["959ec31.5b8554","116840ec.174d8f"]]},{"id":"116840ec.174d8f","type":"debug","z":"764e22e4.19556c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":80,"wires":[]},{"id":"49ba3b0c.9157e4","type":"switch","z":"764e22e4.19556c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"Sweep_Time","vt":"str"},{"t":"hask","v":"gj_SIN_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":220,"wires":[["dd3f94db.6df898","75fe5e31.af9e6"],["c22f024f.a1ad9","75fe5e31.af9e6"]]},{"id":"ac24a5ea.41c038","type":"debug","z":"764e22e4.19556c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":300,"wires":[]},{"id":"c22f024f.a1ad9","type":"template","z":"764e22e4.19556c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.gj_SIN_Out}}","output":"str","x":820,"y":340,"wires":[["b9c3bc93.ca245","ac24a5ea.41c038"]]},{"id":"6715c812.d59b38","type":"debug","z":"764e22e4.19556c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":480,"wires":[]},{"id":"1651a167.c021cf","type":"mqtt out","z":"764e22e4.19556c","name":"","topic":"training/connext","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b4ad0587.7610d8","x":820,"y":540,"wires":[]},{"id":"7b32f015.72109","type":"template","z":"764e22e4.19556c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"gj_SIN_Scaling\": {{payload}}\n}","output":"json","x":600,"y":540,"wires":[["1651a167.c021cf","165e56f7.6403f9"]]},{"id":"165e56f7.6403f9","type":"debug","z":"764e22e4.19556c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":480,"wires":[]},{"id":"75fe5e31.af9e6","type":"influxdb out","z":"764e22e4.19556c","influxdb":"1bd0df95.bf21d","name":"","measurement":"Connext_data","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":220,"wires":[]},{"id":"e7980f08.88d3f","type":"inject","z":"764e22e4.19556c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":720,"wires":[["b6926d22.53d0c"]]},{"id":"b6926d22.53d0c","type":"function","z":"764e22e4.19556c","name":"DROP Measurement Connext_data","func":"msg.query=\"DROP Measurement Connext_data;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":720,"wires":[["d9cd4131.bc5ff"]]},{"id":"d9cd4131.bc5ff","type":"influxdb in","z":"764e22e4.19556c","influxdb":"1bd0df95.bf21d","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":950,"y":720,"wires":[["7701f631.46d978"]]},{"id":"7701f631.46d978","type":"debug","z":"764e22e4.19556c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":720,"wires":[]},{"id":"32bdbb39.aff8c4","type":"catch","z":"764e22e4.19556c","name":"","scope":null,"uncaught":false,"x":920,"y":780,"wires":[["3fff58f5.466ef8"]]},{"id":"3fff58f5.466ef8","type":"debug","z":"764e22e4.19556c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1080,"y":780,"wires":[]},{"id":"b4ad0587.7610d8","type":"mqtt-broker","name":"emerson-mqtt-internal-ipc","broker":"emerson-mqtt-internal-ipc","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"921e9639.b91f78","type":"ui_group","name":"Default","tab":"e41805f3.47ff58","order":1,"disp":true,"width":11,"collapse":false},{"id":"1bd0df95.bf21d","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"data","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"e41805f3.47ff58","type":"ui_tab","name":"Workshop","icon":"dashboard","disabled":false,"hidden":false}]