stand/documentation/workshop&examples/Project-2_Source_Files/NR_OPCUA_Sine_Influx_v2.json
[{"id":"315dff6.41adb","type":"tab","label":"NR_OPCUA_SineWave","disabled":false,"info":""},{"id":"a75e3c14.fd972","type":"ui_slider","z":"315dff6.41adb","name":"","label":"slider","tooltip":"","group":"75d63f4c.026de","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"10","max":"100","step":1,"x":210,"y":660,"wires":[["c750bfd9.37df5"]]},{"id":"930b8dd9.8c376","type":"ui_chart","z":"315dff6.41adb","name":"","group":"75d63f4c.026de","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"0.001","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":200,"wires":[[]]},{"id":"995d315a.77d8","type":"ui_chart","z":"315dff6.41adb","name":"","group":"75d63f4c.026de","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":420,"wires":[[]]},{"id":"e9b0c7c7.e34bc8","type":"template","z":"315dff6.41adb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Sweep_Time}}","output":"str","x":1000,"y":200,"wires":[["930b8dd9.8c376","26d206ad.58beea"]]},{"id":"26d206ad.58beea","type":"debug","z":"315dff6.41adb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":160,"wires":[]},{"id":"bcefa4e7.5d14b8","type":"debug","z":"315dff6.41adb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":380,"wires":[]},{"id":"18934f06.44ada1","type":"template","z":"315dff6.41adb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.gj_SIN_Out}}","output":"str","x":1000,"y":420,"wires":[["995d315a.77d8","bcefa4e7.5d14b8"]]},{"id":"db0484ff.1575b8","type":"influxdb out","z":"315dff6.41adb","influxdb":"1bd0df95.bf21d","name":"","measurement":"Connext_data","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1130,"y":300,"wires":[]},{"id":"f59ae66c.24fde8","type":"inject","z":"315dff6.41adb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":800,"wires":[["9e7a04f.e9c3af8"]]},{"id":"9e7a04f.e9c3af8","type":"function","z":"315dff6.41adb","name":"DROP Measurement Connext_data","func":"msg.query=\"DROP Measurement Connext_data;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":800,"wires":[["d47d9250.2cd7"]]},{"id":"d47d9250.2cd7","type":"influxdb in","z":"315dff6.41adb","influxdb":"1bd0df95.bf21d","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":1130,"y":800,"wires":[["a3a2e8fc.cdc548"]]},{"id":"a3a2e8fc.cdc548","type":"debug","z":"315dff6.41adb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":800,"wires":[]},{"id":"dd98ef.04d5671","type":"catch","z":"315dff6.41adb","name":"","scope":null,"uncaught":false,"x":1100,"y":860,"wires":[["8edc145b.b78fc8"]]},{"id":"8edc145b.b78fc8","type":"debug","z":"315dff6.41adb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1260,"y":860,"wires":[]},{"id":"fb4b80ea.994b7","type":"OPCUA-IIoT-Inject","z":"315dff6.41adb","injectType":"inject","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"5","name":"Subscribe to Tag Changes","payload":"","addressSpaceItems":[{"name":"gj_SIN_Out","nodeId":"ns=2;s=gj_SIN_Out","datatypeName":""},{"name":"Sweep_Time","nodeId":"ns=2;i=20108","datatypeName":""}],"x":200,"y":300,"wires":[["86baf1e6.d4045"]]},{"id":"86baf1e6.d4045","type":"OPCUA-IIoT-Listener","z":"315dff6.41adb","connector":"156b14bc.fcaf6b","action":"subscribe","queueSize":10,"name":"","topic":"","justValue":true,"useGroupItems":false,"showStatusActivities":false,"showErrors":true,"x":440,"y":300,"wires":[["5e9cb047.7d627","148543b2.e58d2c"]]},{"id":"5e9cb047.7d627","type":"debug","z":"315dff6.41adb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"908cb291.c4b1b","type":"OPCUA-IIoT-Write","z":"315dff6.41adb","connector":"156b14bc.fcaf6b","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":650,"y":600,"wires":[["3a142de8.ce7bf2"]]},{"id":"3a142de8.ce7bf2","type":"debug","z":"315dff6.41adb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":600,"wires":[]},{"id":"8d08964f.93b048","type":"debug","z":"315dff6.41adb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":540,"wires":[]},{"id":"a627a422.d060a8","type":"inject","z":"315dff6.41adb","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"33","payloadType":"num","x":210,"y":600,"wires":[["c750bfd9.37df5"]]},{"id":"c750bfd9.37df5","type":"OPCUA-IIoT-Node","z":"315dff6.41adb","injectType":"write","nodeId":"ns=2;s=gj_SIN_Scaling","datatype":"Int16","value":"","name":"Format OPCUA Entry","topic":"","showErrors":false,"x":440,"y":600,"wires":[["908cb291.c4b1b","8d08964f.93b048"]]},{"id":"2c76fc9a.d738d4","type":"debug","z":"315dff6.41adb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":869.765625,"y":161.75,"wires":[]},{"id":"e00ed016.71bec","type":"debug","z":"315dff6.41adb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":460,"wires":[]},{"id":"148543b2.e58d2c","type":"function","z":"315dff6.41adb","name":"","func":"if(msg.addressSpaceItems[0].nodeId == \"ns=2;s=gj_SIN_Out\"){\n    //node.warn(msg.payload.value.value);\n    var value = msg.payload.value.value;\n    msg.payload = {};\n    msg.payload.gj_SIN_Out = value;\n    node.send([null,msg]);\n}else if(msg.addressSpaceItems[0].nodeId == \"ns=2;i=20108\"){\n    //node.warn(msg.payload.value.value);\n    var value = msg.payload.value.value;\n    msg.payload = {};\n    msg.payload.Sweep_Time = value;\n    node.send([msg,null]);\n}\nreturn;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["e9b0c7c7.e34bc8","2c76fc9a.d738d4","db0484ff.1575b8"],["18934f06.44ada1","e00ed016.71bec","db0484ff.1575b8"]]},{"id":"297657bc.d20658","type":"inject","z":"315dff6.41adb","name":"Clear Chart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"jsonata","x":1010,"y":240,"wires":[["930b8dd9.8c376"]]},{"id":"b315491e.197278","type":"inject","z":"315dff6.41adb","name":"Clear Chart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"jsonata","x":1010,"y":500,"wires":[["995d315a.77d8"]]},{"id":"75d63f4c.026de","type":"ui_group","name":"Default","tab":"d8da2f5c.5b0f","order":1,"disp":true,"width":11,"collapse":false},{"id":"1bd0df95.bf21d","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"data","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"156b14bc.fcaf6b","type":"OPCUA-IIoT-Connector","discoveryUrl":"","endpoint":"opc.tcp://192.168.180.2:4840/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"CPL_PACs","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"d8da2f5c.5b0f","type":"ui_tab","name":"Workshop","icon":"dashboard","disabled":false,"hidden":false}]